# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
__init__.py

# Virtual environment
venv/
.env

# Data and logs
data/*.csv
logs/*.log

# IDE files
.vscode/
.idea/
*.swp

# Miscellaneous
*.DS_Store__init__.py
